<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();
const logonName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    loginStore.login(logonName.value);
  }
};

const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-app>
    <v-main class="pa-16 bg-blue-grey-darken-2">
      <v-card width="300" class="mx-auto">
        <v-card-title primary-title class="text-center font-weight-bold">
          Login</v-card-title
        >
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              :rules="[
                (v) => !!v || 'Login Name is required',
                (v) => v.length >= 4 || 'Name must be more than 3 characters',
              ]"
              label="Login Name"
              v-model="logonName"
              required
            >
            </v-text-field>
            <v-text-field
              :rules="[
                (v) => !!v || 'Password is required',
                (v) =>
                  v.length >= 8 || 'Password must be more than 8 characters',
              ]"
              label="Password"
              type="password"
              v-model="password"
              required
            >
            </v-text-field>
          </v-form>
          <pre>
            {{ logonName }}
            {{ password }}
          </pre>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn color="success" @click="login">Login</v-btn>
          <v-btn color="error" @click="reset">Clear</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>
</template>
